<div class="address-book-display" id="readOnlyDisplay">
    <div id="readOnlyPanel">
        <div class="row">
            <div class="col-12 text-center">
                <img src="{{addressBookReadOnly.Photo}}" class="display-photo" onerror="this.src = 'Content/Images/blankuser.png';" />

                <h4 id="displayName">{{addressBookReadOnly.FirstName}} {{addressBookReadOnly.LastName}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6" id="displayAddressColumn">
                Address
                <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span><a
                         href="https://maps.google.com/?q={{addressBookReadOnly.FullAddress}}"   id="displayAddress" target="_blank">{{addressBookReadOnly.Address}}</a></li>
                </ul>
            </div>
            <div class="col-6" id="displayContactColumn">
                Contact
                <ul class="fa-ul">
                    <li id="displayPhoneItem"><span class="fa-li"><i class="fas fa-phone"></i></span><span
                            id="displayPhone">{{addressBookReadOnly.PhoneNumber}}</span></li>
                    <li id="displayEmailItem"><span class="fa-li"><i class="fas fa-envelope"></i></span><span
                            id="displayEmail">{{addressBookReadOnly.EmailAddress}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>