@{
    ViewBag.Title = "Address Book";
}

<div class="jumbotron mt-5">
    <h3>ITSM Coding Challenge 2021</h3>
    <p>The goal of this challenge is to create a working simple address book using existing technologies such as C# .NET, MVC, JavaScript, HTML and CSS. 
        By completing this challenge, it demonstrates that you have an understanding of these languages as well as popular frameworks utilized such as jQuery and Entity Framework.</p>
</div>

<div class="row">
    <div class="col-12">
        <div class="loading-overlay-panel" style="display: none;">
            <div class="loading-overlay">
                <div class="row h-100 align-content-center">
                    <div class="col-12">
                        <div class="loading-inner"><i class="fas fa-spinner fa-spin fa-6x"></i></div>
                    </div>
                </div>

            </div>
        </div>
        <app-root></app-root>
    </div>
</div>

@section scripts
{
    <script>
        // Initialize the Address Book when the DOM has fully loaded
        $(document).ready(function() {
            initAddressBook();
        });
    </script>
}
