<!-- <router-outlet></router-outlet> -->
<div class="address-book-container">

  <!--  This section is for the Toolbar  -->
  <div class="row">
    <div class="col-12">
      <div class="address-book-toolbar">
        <button id="newButton" class="btn btn-outline-dark toolbar-button" title="Add Entry" data-toggle="tooltip"
          (click)="addNewEntry();"><i class="fas fa-plus"></i></button>
        <button id="editButton" class="btn btn-outline-dark toolbar-button" title="Edit" data-toggle="tooltip"
          (click)="editRecord(selectedAddressBookRecord)" [disabled]="!canEditRecord"><i
            class="fas fa-edit"></i></button>
      </div>
    </div>
  </div>



  <!--  This section is for the Record List and the Display  -->
  <div class="row">
    <!--  This part is the record entries  -->
    <div class="col-4">
      <app-address-book-entries (selectedAddressBookEvent)="selectedAddressBookRecordHandler($event)"
      [reloadAllRecordsEvent]="reloadRecordsEvenSubject.asObservable()">
      </app-address-book-entries>
    </div>

    <div class="col-8 pl-0">
      <app-address-book-entry-view *ngIf="showReadOnlyView" [addressBookReadOnly]="selectedAddressBookRecord">
      </app-address-book-entry-view>

      <app-address-book-entry-edit *ngIf="showEditView" [addressBookEditable]="selectedAddressBookRecord"  (recordSavedUpdatedEvent)="recordSavedUpdatedHandler()"></app-address-book-entry-edit>
    </div>
  </div>

</div>